<img class="help-icon" src="../../../../assets/baseline-help_outline-24px.svg" alt="">

<div class="confusion-error-input">
  <div class="fp0">
    <app-number-input [config$]="inputs[0]"></app-number-input>
  </div>
  <div class="tp1">
    <app-number-input [config$]="inputs[1]"></app-number-input>
  </div>
  <div class="fn2">
    <app-number-input [config$]="inputs[2]"></app-number-input>
  </div>
  <div class="tn3">
    <app-number-input [config$]="inputs[3]"></app-number-input>
  </div>
</div>