.circle {
    fill-opacity: 0.8;
    stroke: #000;
    stroke-opacity: 1;
}
.regression {
    /* fill: url(#mainGradient);
    fill-opacity: 0.5;
    stroke: #000;
    stroke-width: 0.5px; */
    fill-opacity: 0.5;
    fill: green;
    stroke: #000;
    stroke-width: 0.5px;
}

.cursor-text {
    font-size: 70%;
}

.stop-top {
    stop-color: white;
}

.stop-bottom {
    stop-color: green;
}

.title {
    font-size: 0.8vw;
}
