.circle {
    fill-opacity: 0.8;
    stroke: #000;
    stroke-opacity: 1;
}
.regression {
    fill: url(#mainGradient);
    fill-opacity: 0.5;
    stroke: #000;
    stroke-width: 0.5px;
}

.stop-top {
    stop-color: white;
}

.stop-bottom {
    stop-color: green;
}
