.circle {
    fill-opacity: 0.8;
    stroke: #000;
    stroke-opacity: 1;
}
.regression {
    fill-opacity: 0.5;
    fill: green;
    stroke: #000;
    stroke-width: 0.25px;
}

.cursor-text {
    font-size: 0.5em;
}

.stop-top {
    stop-color: white;
}

.stop-bottom {
    stop-color: green;
}

.title {
    font-size: 60%;
}

.x-axis text {
    font-size: 0.7em;
}
