<h3> Model Performance <img class="help-icon" src="../../../../assets/baseline-help_outline-24px.svg" alt=""> </h3>
<div class="graphs model-performance">
  <div class="header table-header" id="PPV"> PPV (precision) </div>
  <div class="header table-header" id="NPV"> NPV </div>
  <div class="header table-header" id="Sens"> Sensitivity (recall) </div>
  <div class="header table-header" id="Spec"> Specificity </div>


  <div class="perf-graph PPV" id= "PPV0">
    <app-line-graph [config]="graphs[0]"></app-line-graph>
  </div>
  <div class="perf-graph NPV" id= "NPV1">
    <app-line-graph [config]="graphs[1]"></app-line-graph>
  </div>
  <div class="perf-graph Sens" id= "Sens2">
    <app-line-graph [config]="graphs[2]"></app-line-graph>
  </div>
  <div class="perf-graph Spec" id= "Spec3">
    <app-line-graph [config]="graphs[3]"></app-line-graph>
  </div>
</div>