<h3> Model Performance </h3>
<div class="graphs model-performance">
  <div class="header table-header" id="PPV"> PPV (precision) </div>
  <div class="header table-header" id="NPV"> NPV </div>
  <div class="header table-header" id="Sens"> Sensitivity (recall) </div>
  <div class="header table-header" id="Spec"> Specificity </div>


  <div class="PPV" id= "PPV0">
    <app-line-graph [config$]="graphs[0]"></app-line-graph>
  </div>
  <div class="NPV" id= "NPV1">
    <app-line-graph [config$]="graphs[1]"></app-line-graph>
  </div>
  <div class="Sens" id= "Sens2">
    <app-line-graph [config$]="graphs[2]"></app-line-graph>
  </div>
  <div class="Spec" id= "Spec3">
    <app-line-graph [config$]="graphs[3]"></app-line-graph>
  </div>
</div>