.confusion-error-matrix {
    display: grid;
    grid-template-areas:
        '. headerPlus headerMinus'
        'rowPlus tp fp'
        'rowMinus fn  tn';
    grid-template-columns: 1fr 4fr 4fr;
    grid-template-rows: 1fr 4fr 4fr;
    height: 100%;
}

h3 {
    font-size: 110%;
}

.table-header {
    align-self: center;
    justify-self: center;
}

.header#plus {
    grid-area: headerPlus;
}
.header#minus {
    grid-area: headerMinus;
}
.row#plus {
    grid-area: rowPlus;
}
.row#minus {
    grid-area: rowMinus;
}

.tp {
    grid-area: tp;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.fp {
    grid-area: fp;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.fn {
    grid-area: fn;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

.tn {
    grid-area: tn;
    border-left: 1px solid black;
    border-top: 1px solid black;
}
