/* shou be moved into its own service */
:root {
    --x: 0px;
    --y: 0px;
}

.zoomed {
    z-index: 1000;
    -webkit-transform: translate3d(var(--x), var(--y), 0);
    -moz-transform: translate3d(var(--x), var(--y), 0);
    -o-transform: translate3d(var(--x), var(--y), 0);
    -ms-transform: translate3d(var(--x), var(--y), 0);
    transform: translate3d(var(--x), var(--y), 0) scale3d(4, 4, 1);
}

/* real css */
.confusion-error-matrix {
    flex: 1 100%;
    align-content: center;
    display: grid;
    max-height: 100%;
    width: 95vw;
    max-width: 900px;
    grid-template-areas:
        '. headerPlus headerMinus . .'
        'rowPlus tp fp ppv fdr '
        'rowMinus fn  tn for npv'
        '. sens fpr legend legend'
        '. fnr spec legend legend';
    grid-column-gap: 1%;
    grid-row-gap: 1%;
    grid-template-columns: 15vw repeat(4, 19vw);
    grid-template-rows: repeat(5, 19vw);
}

@media (min-width: 961px) {
    .confusion-error-matrix {
        grid-template-columns: 13% repeat(4, 19%);
        grid-template-rows: repeat(5, 19%);
    }
}

.cell {
    border: 0.5px solid;
    display: grid;
    align-items: flex-end;
    border-radius: 5px;
    background: white;
    transform-origin: 0 0;
}

p {
    margin: 0%;
    font-size: 60%;
}

h3 {
    font-size: 110%;
}

.legend {
    display: none;
}

.legend.active {
    display: inline;
}

.cell {
    padding: 2px;
}

.table-header {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    text-shadow: 0 0 0;
}

.column#plus {
    grid-area: headerPlus;
}
.column#minus {
    grid-area: headerMinus;
}
.row#plus {
    grid-area: rowPlus;
}
.row#minus {
    grid-area: rowMinus;
}

.TruePos {
    grid-area: tp;
}

.FalPos {
    grid-area: fp;
}

.FalNeg {
    grid-area: fn;
}

.TrueNeg {
    grid-area: tn;
}

.Fpr {
    grid-area: fpr;
}

.Fnr {
    grid-area: fnr;
}

.Fdr {
    grid-area: fdr;
}

.For {
    grid-area: for;
}
.PPV {
    grid-area: ppv;
}
.NPV {
    grid-area: npv;
}

.Sens {
    grid-area: sens;
}

.Spec {
    grid-area: spec;
}

.legend {
    grid-area: legend;
}
