<h3> Confusion Matrix </h3> 
<div class="graphs confusion-error-matrix">
  <div class="cell column table-header" id="plus"> 
<p>Actual Positive </p> 
   <p> Y=1 </p>   
    </div>
  <div class="cell column table-header" id="minus">
  <p>Actual Negative</p>
      <p> Y=0</p>
     </div>
  <div class="cell row table-header" id="plus">
     <p>Predicted Positive</p>
     <p>d=1</p>
    </div>
  <div class="cell row table-header" id="minus">
      <p>Predicted Negative</p>
      <p>d=0</p>
  </div>

  <div class="cell TruePos" id= "TruePos0">
    <app-line-graph [config$]="graphs[0]"></app-line-graph>
  </div>
  <div class="cell FalPos" id= "FalPos1">
    <app-line-graph [config$]="graphs[1]"></app-line-graph>
  </div>
  <div class="cell  FalNeg" id= "FalNeg2">
    <app-line-graph [config$]="graphs[2]"></app-line-graph>
  </div>
  <div class="cell TrueNeg" id= "TrueNeg3">
    <app-line-graph [config$]="graphs[3]"></app-line-graph>
  </div>
  <div class="cell Fnr" id= "Fnr4">
    <app-line-graph [config$]="graphs[4]"></app-line-graph>
  </div>
  <div class="cell Fpr" id= "Fpr5">
    <app-line-graph [config$]="graphs[5]"></app-line-graph>
  </div>
  <div class="cell PPV" id= "PPV6">
    <app-line-graph [config$]="graphs[6]"></app-line-graph>
  </div>
  <div class="cell NPV" id= "NPV7">
    <app-line-graph [config$]="graphs[7]"></app-line-graph>
  </div>
  <div class="cell Sens" id= "Sens8">
    <app-line-graph [config$]="graphs[8]"></app-line-graph>
  </div>
  <div class="cell Spec" id= "Spec9">
    <app-line-graph [config$]="graphs[9]"></app-line-graph>
  </div>
  <div class="cell Fdr" id= "Fdr10">
    <app-line-graph [config$]="graphs[10]"></app-line-graph>
  </div>
  <div class="cell For" id= "For11">
    <app-line-graph [config$]="graphs[11]"></app-line-graph>
  </div>
</div>