<div class="graphs confusion-error-matrix">
  <div class="cell column table-header" id="plus"> 
<p>Actual Positive </p> 
   <p> Y=1 </p>   
    </div>
  <div class="cell column table-header" id="minus">
  <p>Actual Negative</p>
      <p> Y=0</p>
     </div>
  <div class="cell row table-header" id="plus">
     <p>Predicted Positive</p>
     <p>d=1</p>
    </div>
  <div class="cell row table-header" id="minus">
      <p>Predicted Negative</p>
      <p>d=0</p>
  </div>

  <div [class]="'cell ' + graph.value.name " (mouseover)="onMouseover(graph.value.name + i)"  [id]="graph.value.name + i" *ngFor="let graph of graphs; let i = index">
    <app-line-graph [config$]="graph"></app-line-graph>
  </div>

  <div class="legend" [id]="graph.value.name + i" *ngFor="let graph of graphs; let i = index">
    <app-section-description [config$]="graph"></app-section-description>
  </div>
</div>