.confusion-error-matrix {
    display: grid;
    max-height: 100%;
    max-width: 100%;
    grid-template-areas:
        '. headerPlus headerMinus . .'
        'rowPlus tp fp ppv fdr '
        'rowMinus fn  tn for npv'
        '. sens fpr . .'
        '. fnr spec . .';
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 1fr repeat(4, 2fr);
    grid-template-rows: minmax(0, 1fr) repeat(4, 2.5fr);
}

.cell {
    border: 1px solid;
    display: grid;
    align-items: flex-end;
}

p {
    margin: 0%;
    font-size: 1vw;
}

h3 {
    font-size: 110%;
}

.row {
}

.table-header {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.column#plus {
    grid-area: headerPlus;
}
.column#minus {
    grid-area: headerMinus;
}
.row#plus {
    grid-area: rowPlus;
}
.row#minus {
    grid-area: rowMinus;
}

.TruePos {
    grid-area: tp;
}

.FalPos {
    grid-area: fp;
}

.FalNeg {
    grid-area: fn;
}

.TrueNeg {
    grid-area: tn;
}

.Fpr {
    grid-area: fpr;
}

.Fnr {
    grid-area: fnr;
}

.Fdr {
    grid-area: fdr;
}

.For {
    grid-area: for;
}
.PPV {
    grid-area: ppv;
}
.NPV {
    grid-area: npv;
}

.Sens {
    grid-area: sens;
}

.Spec {
    grid-area: spec;
}
