<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <div class="distribution-container">
        <a href="#">Distribution</a>
        <p> &Rho; &Beta;</p>
    </div>
 
    <a href="#">
      Population <i class="material-icons">
          help_outline
          </i>
      <input type="range" name="" id="">
    </a>

    <a href="#">Prevalence <i class="material-icons">
        help_outline
        </i>
        <input type="range" name="" id="">
    </a>
    <a href="#">Matrix <i class="material-icons">
        help_outline
        </i></a>
  </div>

  <span (click)="openNav()">Menu</span>