.input-container {
    display: grid;
    align-items: center;
    justify-items: center;
}

label {
    text-shadow: 0 0 0;
    font-size: 1vw;
    font-weight: semi-bold;
    text-align: center;
}

.number-input {
    width: 6em;
    text-align: right;
    margin: 5px;
}
