.input-container {
    display: grid;
    align-items: center;
    justify-items: center;
}

label {
    font-size: 70%;
    text-align: center;
}

.number-input {
    font-size: 60%;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: right;
}
