@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.wrapper {
    width: auto;
    height: 100%;
    width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 'header' 'content' 'footer';
    align-content: space-between;
    overflow: hidden;
}

.header {
    grid-area: header;
    border-bottom: 3px solid #018383;
    padding: 8px;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
    padding: 8px;
    border-top: 2px solid; /*move this to upper container*/
    border-image: linear-gradient(to right, #d02b27, #018383, #f1b51c, #0b2949) 5;
}
