@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@media only screen and (min-width: 800px) {
    .wrapper {
        /* width: 2000px; */
    }
}

.wrapper {
    height: 100%;
    display: grid;
    grid-template-areas: 'header' 'content' 'footer';
    grid-template-rows: 50px auto 50px;
}

.header {
    grid-area: header;
    padding: 8px;
}

.content {
    grid-area: content;
    display: grid;
    justify-content: center;
    z-index: 0;
}

.footer {
    grid-area: footer;
    /* padding: 8px; */
    border-top: 2px solid #018383;
}
