@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@media only screen and (min-width: 800px) {
}

#main {
    transition: margin-left 0.5s;
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-areas: 'header' 'content' 'footer';
    grid-template-rows: 8% auto min-content;
}

.header {
    grid-area: header;
}

.content {
    grid-area: content;
    z-index: 0;
}

.footer {
    grid-area: footer;
    border-top: 2px solid #018383;
    margin: 8px;
}
