@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.wrapper {
    width: auto;
    height: 90%;
    margin: 2% 10%;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 1%;
    grid-template-areas: 'header' 'content' 'footer';
    align-content: space-between;
}

.wrapper > * {
    border: 1px solid black; /* remove once down with layout */
    border-radius: 5px;
    padding: 10px;
    font-size: 100%;
    width: auto;
    margin: 0;
}

.header {
    grid-area: header;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}
