@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@media only screen and (min-width: 800px) {
    .wrapper {
        width: 800px;
    }
}

.wrapper {
    height: 100%;
    padding: 2%;
    display: grid;
    grid-template-areas: 'header' 'content' 'footer';
    align-content: space-between;
    overflow: hidden;
}

.header {
    grid-area: header;
    border-bottom: 3px solid #018383;
    padding: 8px;
}

.content {
    grid-area: content;
    z-index: 0;
}

.footer {
    grid-area: footer;
    padding: 8px;
    border-top: 2px solid #018383;
}
