@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.wrapper {
    width: auto;
    height: 90%;
    margin: 2% 10%;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 1%;
    grid-template-areas: 'header' 'content' 'footer';
    align-content: space-between;
}

.wrapper > * {
    /* border: 1px solid black;  */
    border-radius: 5px;
    padding: 10px;
    font-size: 100%;
    width: auto;
    margin: 0;
}

.header {
    grid-area: header;
    border-bottom: 5px solid #018383;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
    border-top: 2px solid; /*move this to upper container*/
    border-image: linear-gradient(to left, #d02b27, #f1b51c, #018383, #0b2949) 5;
}
