.header-container {
    height: 100%;
    display: flex;
    background-color: #018383;
    align-content: center;
    justify-content: center;
}

.title-container {
    display: flex;
    justify-content: center;
    justify-self: center;
}

.menu-button {
    position: relative;
    left: -2em;
    top: 0.45em;
}

#menu-icon {
    font-size: 30px;
    color: white;
}

#app-title {
    font-size: 17px;
    letter-spacing: 0.02em;
    color: white;
    font-weight: 500;
}
