.header-container {
    display: flex;
    flex-direction: column;
}

.about-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.title-container {
    display: flex;
    justify-content: center;
}

#app-title {
    font-size: 150%;
}

#about {
    cursor: pointer;
    color: black;
}

a {
    text-decoration: none;
}
