.header-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #018383;
    justify-content: center;
}

.title-container {
    display: flex;
    justify-content: center;
}

#app-title {
    font-size: 17px;
    letter-spacing: 0.02em;
    color: white;
    font-weight: 500;
}
