label {
    font-size: 70%;
    text-align: center;
}

text {
    font-size: 60%;
    text-align: center;
}

.input-container {
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 2%;
}
