<div class="story-view" *ngIf="init">
  <app-menu [inputs]="chapter.inputs"></app-menu>

  <div class="graphs" *ngIf="chapter.graphs">
      <div class="item graph-item" *ngFor="let graph of graphs" [id]="graph.chapterElement.value.name + graph.chapterElement.value.order">
          <app-chapter-item [chapterItem]="graph"></app-chapter-item>
      </div>
  </div>  
</div>

<div *ngIf="!init" class="loader-container">
  <div class="loader" ></div>

  <p class="loader-text">Running simulations... </p>
  
</div>
