.story-view {
    display: flex;
    flex-direction: column;
    width: 95vw;
    max-width: 900px;
    height: 100%;
}

.loader-container {
    display: grid;
    justify-items: center;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #018383;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.loader-text {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
