@media only screen and (min-width: 800px) {
    /* .story-view {
        display: grid;
        grid-template-rows: 1fr 1fr auto;
        max-width: 900px;
        align-items: space-between;
    } */

    .inputs {
    }
}

.story-view {
    display: flex;
    flex-direction: column;
    width: 95vw;
    max-width: 900px;
    height: 100%;
}

.graphs {
    display: flex;
    flex-direction: column;
    flex: 1 100%;
}

.item {
    display: flex;
    flex-direction: column;
    flex: 1 100%;
}

app-chapter-item {
    display: flex;
    flex: 1 100%;
    flex-direction: column;
}

app-chapter-item > * {
    display: flex;
    flex: 1 100%;
    flex-direction: column;
}

.loader-container {
    display: grid;
    justify-items: center;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #018383;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.loader-text {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
