/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

.help-icon {
    width: 1em;
    opacity: 0.5;
}
.help-icon:hover {
    opacity: 1;
}
