/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    height: 100%;
    display: grid;
    justify-content: center;
}
