<div class="dashboard-view" *ngIf="chapter">
    <div class="description">
        <div class="item description-item" *ngFor="let description of descriptions">
            <app-chapter-item [chapterItem]="description"></app-chapter-item>
        </div>
    </div>

    <div class="inputs">
        <div class="item input-item" *ngFor="let input of inputs">
            <app-chapter-item [chapterItem]="input"></app-chapter-item>
        </div>
    </div>

    <div class="graphs">
        <div class="item graph-item" *ngFor="let graph of graphs" [id]="graph.chapterElement.value.name + graph.chapterElement.value.order">
            <app-chapter-item [chapterItem]="graph"></app-chapter-item>
        </div>
    </div>
</div>

<div *ngIf="!chapter" class="loader-container">
    <div class="loader" ></div>

    <p class="loader-text">Running prediction... </p>
    
</div>
