.dashboard-view {
    display: grid;
    grid-column-gap: 5%;
    grid-template-areas:
        'descriptions  graphs'
        'inputs  graphs'
        'chapternav chapternav';
    grid-template-columns: 4fr;
}

.graphs {
    grid-area: graphs;
    display: grid;
}

.description {
    grid-area: descriptions;
}

.inputs {
    grid-area: inputs;
    display: grid;
}

.item {
    margin: 2%;
    padding: 2%;
    border-radius: 5px;
    padding: 2px 16;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.description-item {
    display: grid;
    justify-content: center;
    align-content: center;
}

.graph-item {
}

.chapter-nav {
    margin-top: 2%;
    grid-area: chapternav;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.chapter-nav-btn {
    width: 50%;
    background-color: #ffffff;
    border: 2px solid #018383;
    padding: 5px;
    margin: 5px;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
}

.chapter-nav-btn:hover {
    background-color: #018383;
    color: #ffffff;
}

.loader-container {
    display: grid;
    justify-items: center;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #018383;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.loader-text {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
