<div class="dashboard-view">
    <!-- this logic could be moved in a chapter-Items component -->
    <div class="description">
        <div *ngFor="let description of descriptions">
            <app-chapter-item [chapterItem]="description"></app-chapter-item>
        </div>
    </div>

    <div class="inputs">
        <div *ngFor="let input of inputs">
            <app-chapter-item [chapterItem]="input"></app-chapter-item>
        </div>
    </div>

    <div class="graphs">
        <div *ngFor="let graph of graphs" [class]="graph.chapterElement.name + graph.chapterElement.order">
            <app-chapter-item [chapterItem]="graph"></app-chapter-item>
        </div>
    </div>
</div>
