<div class="dashboard-view" >

    <div class="welcome-text">
            <h2> Welcome</h2>
            <p>            Nullam quis justo pellentesque, ornare velit non, sagittis ipsum. Quisque commodo sollicitudin elit, vel sodales tortor faucibus vitae. Curabitur libero nisi, condimentum mollis mi sed, dapibus aliquet lorem. Sed eget ipsum libero. Etiam lorem mi, mollis quis vulputate quis, ornare in dui. Fusce tempor ipsum lectus, sit amet interdum ante imperdiet in. Phasellus consectetur faucibus finibus. Donec blandit efficitur ex, in blandit ante scelerisque a.
                </p>
        </div>
    <div class="illustration">
        <img src="../../../assets/network.jpg">
    </div>
    <div class="welcome-nav">
            <button class="welcome-nav-btn go" (click)="navigateTo('story')">Give me the Dashboard!</button>
            <!-- <button class="welcome-nav-btn skip">Skip to conclusion</button> -->
        </div>
</div>


