.dashboard-view {
    display: grid;
    grid-gap: 5px;
    grid-template-areas:
        'descriptions  graphs'
        'inputs  graphs';
    grid-template-columns: 3fr 7fr;
}

.graphs {
    grid-area: graphs;
    display: grid;
    grid-template-rows: auto;
    margin: 10%;
}

.description {
    grid-area: descriptions;
}

.inputs {
    grid-area: inputs;
    display: grid;
}

.description-item {
    display: grid;
    justify-content: center;
    align-content: center;
}

.dashboard-view > * {
    /* remove once down with layout */
    /* border: 1px solid black;
    border-radius: 5px; */
    height: auto;
}
