.dashboard-view {
    display: grid;
    grid-column-gap: 5%;
    grid-template-areas:
        'descriptions  graphs'
        'inputs  graphs';
    grid-template-columns: 4fr 7fr;
}

.graphs {
    grid-area: graphs;
    display: grid;
}

.description {
    grid-area: descriptions;
}

.inputs {
    grid-area: inputs;
    display: grid;
}

.item {
    margin: 2%;
    padding: 2%;
    border-radius: 5px;
    padding: 2px 16;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.description-item {
    display: grid;
    justify-content: center;
    align-content: center;
}

.graph-item {
}

.dashboard-view > * {
    /* remove once down with layout */
    /* border: 1px solid black;
    border-radius: 5px; */
    height: auto;
}
